<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:object="${user}">
    <p>User info page</p>
    <hr class="my-4">
    <p><b>Hello, </b><span th:text="*{getFullName()}"></span></p>
    <p><b>Your age: </b><span th:text="*{age}"></span></p>
    <p><b>Your email: </b><span th:text="*{email}"></span></p>
    <p>
        <b>Your roles:</b>
        <th:block th:each="role : *{getRoles()}">
            <span th:text="${role.name}"></span>
        </th:block>
    </p>
    <p><b>Is enabled: </b><span th:text="*{enabled}"></span></p>
</div>
<br/>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>