<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<div style="color:#ffffff" th:object="${principal}">
			<h6>
				<b>Your email: </b>&nbsp;<span th:text="*{getUsername()}"></span>&nbsp;
				<b>and your roles:</b>
				<th:block th:each="role : *{getAuthorities()}">
					&nbsp;<span th:text="${role.getAuthority().substring(5)}"></span>
				</th:block>
			</h6>
		</div>
		<a type="button" th:href="@{/logout}" class="btn btn-sm btn-outline-light">Logout</a>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<br/>
			<div class="list-group">
				<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users}"
				   class="list-group-item list-group-item-action active">Admin</a>
				<a th:href="@{/user}" class="list-group-item list-group-item-action">User</a>
			</div>
		</div>
		<div class="col-md-10">
			<div class="container">
				<br>
				<h2>Admin panel</h2>
				<br>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="tab1-tab" href="#tab1" data-toggle="tab"
						   role="tab" aria-controls="tab1" aria-selected="true">User table</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="tab2-tab" href="#tab2" data-toggle="tab" role="tab"
						   aria-controls="tab2" aria-selected="false">New user</a>
					</li>
				</ul>
				<div class="tab-content mytab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item col text-center">
									<h5>All users</h5>
								</li>
							</ol>
						</nav>
						<div class="table-responsive">
							<table class="table table-hover table-bordered">
								<thead class="thead-light">
								<tr class="col text-center">
									<th>Id</th>
									<th>Full name</th>
									<th>Age</th>
									<th>E-mail</th>
									<th>Enabled</th>
									<th>Roles</th>
									<th>Actions</th>
								</tr>
								<tbody>
								<tr class="col text-center" th:each="user : ${users}">
									<td><a th:text="${user.id}"></a></td>
									<td><a class="col font-weight-bold" th:text="${user.fullName}"></a></td>
									<td><a th:text="${user.age}"></a></td>
									<td>
										<a class="col font-weight-bold" th:href="@{/user/{email}(email=${user.getUsername()})}"
										   th:text="${user.getUsername()}"></a>
									</td>
									<td><a th:text="${user.enabled}"></a></td>
									<td>
										<th:block th:each="role : ${user.roles}">
											&nbsp;<span th:text="${role.name.substring(5)}"></span>&nbsp;
										</th:block>
									</td>
									<td>
										<button class="bg-primary btn btn-sm btn-secondary" data-toggle="modal" data-target="#edit">
											Edit
										</button>
										<div class="modal fade" id="edit" role="dialog" aria-labelledby="modalEdit"
										     aria-hidden="true" tabindex="-1">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="modalEdit">
															Edit user
														</h5>
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}"
													      th:object="${user}">
														<div class="modal-body">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-md-3">
																	</div>
																	<div class="col-md-6">
																		<div>
																			<label class="form-label" for="idUpdate">ID</label>
																			<p><input class="form-control" type="text" th:field="*{id}" id="idUpdate"
																			          disabled/></p>
																		</div>
																		<div>
																			<label class="form-label" for="firstnameUpdate">First Name</label>
																			<p><input class="form-control" type="text" th:field="*{firstname}"
																			          id="firstnameUpdate" required/></p>
																			<div style="color:red" th:if="${#fields.hasErrors('firstname')}"
																			     th:errors="*{firstname}">
																			</div>
																		</div>
																		<div>
																			<label class="form-label" for="lastnameUpdate">Last Name</label>
																			<p><input class="form-control" type="text" th:field="*{lastname}"
																			          id="lastnameUpdate" required/></p>
																			<div style="color:red" th:if="${#fields.hasErrors('lastname')}"
																			     th:errors="*{lastname}">
																			</div>
																		</div>
																		<div>
																			<label class="form-label" for="ageUpdate">Age</label>
																			<p><input class="form-control" type="number" th:field="*{age}" id="ageUpdate"
																			          required/></p>
																			<div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
																			</div>
																		</div>
																		<div>
																			<label class="form-label" for="emailUpdate">Email</label>
																			<p><input class="form-control" type="email" th:field="*{email}" id="emailUpdate"
																			          aria-describedby="emailUpdateHelp" required/></p>
																			<small id="emailUpdateHelp" class="form-text text-muted"></small>
																		</div>
																		<div>
																			<label class="form-label" for="passwordUpdate">Password</label>
																			<p><input class="form-control" type="text" style="color:#ffffff"
																			          th:field="*{password}"
																			          id="passwordUpdate" required></p>
																			<div style="color:red" th:if="${#fields.hasErrors('password')}"
																			     th:errors="*{password}">
																			</div>
																		</div>
																		<div>
																			<label class="form-label" for="nameRolesUpdate">Role</label>
																			<p><select size="2" name="nameRoles" class="form-control form-select" required
																			        id="nameRolesUpdate" multiple aria-label="multiple select example">
																				<option value="ROLE_USER">USER</option>
																				<option value="ROLE_ADMIN">ADMIN</option>
																			</select></p>
																		</div>
																		<div class="checkbox">
																			<label class="form-label" for="enabledUpdate">
																				<input type="checkbox" id="enabledUpdate" th:checked="*{isEnabled()}"
																				       th:field="*{enabled}">&nbsp;Is enabled
																			</label>
																		</div>
																	</div>
																	<div class="col-md-3">
																	</div>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button type="submit" class="btn btn-primary">
																Edit
															</button>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">
																Close
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>
										<button class="bg-danger btn btn-sm btn-secondary" data-toggle="modal" data-target="#delete">
											Delete
										</button>
										<div class="modal fade" id="delete" role="dialog" aria-labelledby="modalDelete"
										     aria-hidden="true" tabindex="-1">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="modalDelete">
															Delete user
														</h5>
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}"
													      th:object="${user}">
														<div class="modal-body">
															<div class="container-fluid">
																<div class="row">
																	<div class="col-md-3">
																	</div>
																	<div class="col-md-6">
																		<div>
																			<label class="form-label" for="idDelete">ID</label>
																			<p><input class="form-control" type="text" th:field="*{id}" id="idDelete"
																			          disabled required/></p>
																		</div>
																		<div>
																			<label class="form-label" for="firstnameDelete">First Name</label>
																			<p><input class="form-control" type="text" th:field="*{firstname}"
																			          id="firstnameDelete" disabled required/></p>
																		</div>
																		<div>
																			<label class="form-label" for="lastnameDelete">Last Name</label>
																			<p><input class="form-control" type="text" th:field="*{lastname}"
																			          id="lastnameDelete" disabled required/></p>
																		</div>
																		<div>
																			<label class="form-label" for="ageDelete">Age</label>
																			<p><input class="form-control" type="text" th:field="*{age}" id="ageDelete"
																			          disabled required/></p>
																		</div>
																		<div>
																			<label class="form-label" for="emailDelete">Email</label>
																			<p><input class="form-control" type="text" th:field="*{email}" id="emailDelete"
																			          disabled required/></p>
																		</div>
																		<div>
																			<label class="form-label" for="enabledDelete">Enabled</label>
																			<p><input class="form-control" type="text" th:field="*{enabled}"
																			          id="enabledDelete" disabled required/></p>
																		</div>
																		<div>
																			<label class="form-label" for="rolesDelete">Roles</label>
																			<table class="table table-active table-sm col text-left" id="rolesDelete">
																				<tr th:each="role : ${user.roles}">
																					<td class="active">
																						&nbsp;<a th:text="${role.name.substring(5)}"></a>
																					</td>
																				</tr>
																			</table>
																		</div>
																	</div>
																	<div class="col-md-3">
																	</div>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button type="submit" class="btn btn-primary">
																Delete
															</button>
															<button type="button" class="btn btn-secondary" data-dismiss="modal">
																Close
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item col text-center">
									<h5>Add new user</h5>
								</li>
							</ol>
						</nav>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-4">
									<form class="col text-center" th:method="POST" th:action="@{/users}" th:object="${user}">
										<div>
											<label class="form-label" for="firstname">First Name</label>
											<p><input class="form-control" type="text" th:field="*{firstname}" id="firstname"
											          required/></p>
											<div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
											</div>
										</div>
										<div>
											<label class="form-label" for="lastname">Last Name</label>
											<p><input class="form-control" type="text" th:field="*{lastname}" id="lastname"
											          required/></p>
											<div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
											</div>
										</div>
										<div>
											<label class="form-label" for="age">Age</label>
											<p><input class="form-control" type="text" th:field="*{age}" id="age" required/></p>
											<div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
											</div>
										</div>
										<div>
											<label class="form-label" for="email">Email</label>
											<p><input class="form-control" type="email" th:field="*{email}" id="email"
											          aria-describedby="emailHelp" required/></p>
											<small id="emailHelp" class="form-text text-muted"></small>
										</div>
										<div>
											<label class="form-label" for="password">Password</label>
											<p><input class="form-control" type="text" th:field="*{password}" id="password"
											          required/></p>
											<div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
											</div>
										</div>
										<div>
											<label class="form-label" for="nameRoles">Role</label>
											<p><select name="nameRoles" class="form-control" id="nameRoles" required>
												<option value="">Select access rights...</option>
												<option value="ROLE_USER">USER</option>
												<option value="ROLE_ADMIN">ADMIN</option>
											</select></p>
										</div>
										<div class="checkbox">
											<label class="form-label" for="enabled">
												<input type="checkbox" id="enabled" th:checked="*{isEnabled()}"
												       th:field="*{enabled}">&nbsp;Is enabled
											</label>
										</div>
										<button class="btn btn-success" type="submit">
											Add new user
										</button>
										<br/>
									</form>
								</div>
								<div class="col-md-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr/>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
<script>
    $(document).ready(() => {
        let url = location.href.replace(/\/$/, "");
        if (location.hash) {
            const hash = url.split("#");
            $('#myTab a[href="#' + hash[1] + '"]').tab("show");
            url = location.href.replace(/\/#/, "#");
            history.replaceState(null, null, url);
            setTimeout(() => {
                $(window).scrollTop(0);
            }, 400);
        }
        $('a[data-toggle="tab"]').on("click", function () {
            let newUrl;
            const hash = $(this).attr("href");
            if (hash === "#tab1") {
                newUrl = url.split("#")[0];
            } else {
                newUrl = url.split("#")[0] + hash;
            }
            newUrl += "/";
            history.replaceState(null, null, newUrl);
        });
    });
</script>
</body>
</html>