<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top text-white">
	<div class="container">
		<div>
			<h6><span>Your email:</span>&nbsp;
				<b sec:authentication="name"></b>&nbsp;
				<span>and your roles:</span>
				<th:block th:each="role : ${#authentication.authorities}">
					&nbsp;<b th:text="${role.getAuthority().substring(5)}"></b>
				</th:block>
			</h6>
		</div>
		<a type="button" th:href="@{/logout}" class="btn btn-sm btn-outline-light">Logout</a>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<br/>
			<div class="list-group">
				<a href="" class="list-group-item list-group-item-action active">User</a>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<br/><br/><br/>
						<img width="150px" alt="Image" src="https://platform.kata.academy/uploads/2021/1/1/course_2.jpg"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="container">
				<br>
				<h2>User information page</h2>
				<br>
				<table class="table table-striped table-bordered">
					<thead>
					<tr class="col text-center">
						<th>ID</th>
						<th>Full name</th>
						<th>Age</th>
						<th>E-mail</th>
						<th>Enabled</th>
						<th>Roles</th>
					</tr>
					</thead>
					<tbody>
					<tr class="col text-center" th:object="${user}">
						<td th:text="*{id}"></td>
						<td th:text="*{fullName}"></td>
						<td th:text="*{age}"></td>
						<td th:text="*{email}"></td>
						<td th:text="*{enabled}"></td>
						<td>
							<th:block th:each="role, iterStat : *{getRoles()}">
								<span th:text="${role.name.substring(5)} + ${!iterStat.last ? ', ' : ''}"></span>
							</th:block>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>
<script th:src="@{/js/its.js}"></script>
</body>
</html>